
[Desktop Entry]
Name=Phabricator Resource
Name[ca]=Recurs del Phabricator
Name[ca@valencia]=Recurs del Phabricator
Name[cs]=Zdroj Phabricatoru
Name[da]=Phabricator-ressource
Name[de]=Phabricator-Ressourcen
Name[el]=Πηγή Phabricator
Name[en_GB]=Phabricator Resource
Name[es]=Recurso de Phabricator
Name[et]=Phabricatori ressurss
Name[fi]=Phabricator-resurssi
Name[fr]=Ressource Phabricator
Name[gl]=Recurso de Phabricator
Name[ia]=Ressource de Phabricator
Name[it]=Risorsa Phabricator
Name[ko]=Phabricator 자원
Name[nl]=Phabricator-hulpbron
Name[pl]=Zasób Phabricator
Name[pt]=Recurso do Phabricator
Name[pt_BR]=Recurso do Phabricator
Name[ru]=Источник данных Phabricator
Name[sk]=Zdroj Phabricator
Name[sl]=Vir Phabricatorja
Name[sv]=Phabricator-resurs
Name[tr]=Phabricator Kaynağı
Name[uk]=Ресурс Phabricator
Name[x-test]=xxPhabricator Resourcexx
Name[zh_CN]=Phabricator 资源
Name[zh_TW]=Phabricator 資源
Comment=Show tasks from Maniphest and other Phabricator applications
Comment[ca]=Mostra les tasques del Maniphest i d'altres aplicacions del Phabricator
Comment[ca@valencia]=Mostra les tasques del Maniphest i d'altres aplicacions del Phabricator
Comment[cs]=Zobrazit úkoly z Maniphestu a dalších aplikací Phabricatoru
Comment[da]=Vis opgaver fra Maniphest og andre Phabricator-programmer
Comment[de]=Zeigt Aufgaben von Maniphest und weiteren Phabricator-Anwendungen an
Comment[el]=Εμφανίζει εργασίες από το Maniphest και άλλες εφαρμογές του Phabricator
Comment[en_GB]=Show tasks from Maniphest and other Phabricator applications
Comment[es]=Mostrar tareas desde Maniphest y otras aplicaciones de Phabricator
Comment[et]=Maniphesti ja teiste Phabricatori rakenduste ülesannete näitamine
Comment[fi]=Näyttää tehtävät Maniphestista ja muista Phabricator-sovelluksista
Comment[fr]=Afficher les tâches de Maniphest et des autres applications Phabricator
Comment[gl]=Mostrar tarefas de Maniphest e outras aplicacións de Phabricator
Comment[ia]=Monstra cargas ex Maniphest e altere applicationes de Phabricator
Comment[it]=Mostra le attività di Maniphest e di altre applicazioni Phabricator
Comment[ko]=Maniphest 및 다른 Phabricator 프로그램의 작업 보기
Comment[nl]=Taken uit Maniphest en andere Phabricator-toepassingen tonen
Comment[pl]=Pokaż zadania z Maniphest i innych aplikacji Phabricatora
Comment[pt]=Mostra tarefas do Maniphest de outras aplicações do Phabricator
Comment[pt_BR]=Mostra tarefas do Maniphest de outros aplicativos do Phabricator
Comment[sk]=Zobrazí úlohy z aplikácie Maniphest a iných aplikácií Phabricator
Comment[sl]=Prikazuje opravila iz Maniphesta in drugih Phabrikatorjevih programov
Comment[sv]=Visa uppgifter från Maniphest och andra Phabricator-program
Comment[tr]=Maniphest ve diğer Phabricator uygulamaları üzerinden görevleri göster
Comment[uk]=Показ завдань від Maniphest та інших програм Phabricator
Comment[x-test]=xxShow tasks from Maniphest and other Phabricator applicationsxx
Comment[zh_CN]=显示来自 Maniphest 和其他 Phabricator 应用的任务
Comment[zh_TW]=從 Maniphest 與其他 Phabricator 應用程式顯示工作

Type=AkonadiResource
Exec=akonadi_phabricator_resource
#Icon=network-server

X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.todo
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_phabricator_resource
